.auth {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    margin-top: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[data-v-4d808a77], .btn[data-v-4d808a77] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
.form-control[data-v-ce5adfa1] {
    min-height: auto;
    padding: 4.5px 12px 3.68px 12px;
    transition: all 0.1s linear;
    box-shadow: none;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button,
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.navbar {
    background-color: #ff0000;
    color: #000000;
    padding: 10px 20px;
}

.navbar-brand {
    float: left;
    font-weight: bold;
}

.navbar-nav {
    float: right;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
}

.nav-link:hover {
    color: #2200ff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
