#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
   
#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }


/* TABLES*//* TABLES*/
/* TABLES*//* TABLES*/
/* TABLES*//* TABLES*/

.table-container {
    padding: 2% 2% 0 2%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}



.auth {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    margin-top: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* button*//* button*/
/* button*//* button*/
/* button*//* button*/
.button-container {
    padding: 20px;
}
.button-container button {
    margin-right: 10px; /* Space between buttons */
}
button [data-v-ce5adfa1]{
    padding: 10px 200px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 370px;
}
button,
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.QR{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 370px; 
} 
button[data-v-4d808a77], .btn[data-v-4d808a77] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 370px;
}
body{ 
    padding: 20px;
    overflow-y: auto; 
    height: 90vh;
} 

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="username"],
input[type="role"],
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.error-message {
    color: #930d0d;
    margin-top: 10px;
}

.navbar {
    background-color: #930d0d;
    color: #123123;
    padding: 15px 20px;
}

.navbar-brand {
    float: left;
    font-weight: bold;
}

.navbar-nav {
    float: right;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}


.nav-link:hover {
    color: #0b84ff;
}
.nav-link {
    position: relative;
    color: #000000 !important;
    text-decoration: none;
    padding-bottom: 5px;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #008dff;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}


.btn-delete {
    background-color: #d51f38; /* Красный цвет кнопки */
    color: white; /* Белый текст */
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #861020; /* Темно-красный при наведении */
}



.html {
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

.html::-webkit-scrollbar {
    width: 4vw;
}

.html::-webkit-scrollbar-thumb {
    background-color: #7775;
}

.html::-webkit-scrollbar-track {
    background-color: #5555;
}
